/*Hier wird die Breite der Legende "Wertungswörter pro Benutzer" manuell angepasst */
.chart-legend {
    -fx-pref-width: 210;
}

.chart-pie-neutral-color {
    -fx-pie-color: #00ff00; /* Grün */
}

.chart-pie-positive-color {
    -fx-pie-color: #0000ff; /* Blau */
}

.chart-pie-negative-color {
    -fx-pie-color: #ff0000; /* Rot */
}